body {
	height:100%;
	width:100%;
	background-color: black;
}

#container {
	overflow-x: scroll;
	overflow-y: scroll;
	height: 100%;
}

.square:hover {
	background-color: orange;
}


/*rocks*/
.zone1 {
	background-color: #999999;
}

/*soil*/
.zone2 {
	background-color:  #737373;
}

/*trees*/
.zone3 {
	background-color: #333333;
}

/*compost*/
.zone4 {
	background-color:  #4d1933;
}

/*path*/
.zone5 {
	background-color:  #d9d9bf;
}

/*water*/
.zone6 {
	background-color: #617dd1;
}