body {
	height:100%;
	width:100%;
	background-color: black;
}

#container {
	overflow-x: scroll;
	overflow-y: scroll;
	height: 100%;
}

.square:hover {
	background-color: orange;
}

.infopanel {
	height: auto;
	top: 4vh;
	right: 4vh;
	width: 350px;
	position: fixed;
	background-color:  #e6e6e6;
	z-index: 10;
	font-size: 20px;
	font-family: courier;	
}

.infotitle {
	padding: 20px;
}

.infobox {
	position: relative;
	width: 90%;
	border: 3px solid white;
	margin-top: 10px;
	margin-left: 4%;
	margin-bottom: 4%;
}

.symbolinfo {
	padding: 20px;
}

.speechbox {
	background-color: white;
	width: 60px;
	z-index: 5;
	position: absolute;
}

/*rocks*/
.zone1 {
	background-color: #999999;
}

/*soil*/
.zone2 {
	background-color:  #737373;
}

/*trees*/
.zone3 {
	background-color: #535353;
}

/*compost*/
.zone4 {
	background-color:  #4d1933;
}

/*path*/
.zone5 {
	background-color:  #d9d9bf;
}

/*water*/
.zone6 {
	background-color: #617dd1;
}