body {
	height:100%;
	width:100%;
	background-color: black;
}

#container {
	overflow-x: scroll;
	overflow-y: scroll;
	height: 100vh;
}

.square:hover {
	background-color: orange;
}

.abouticon {
	height: auto;
	top: 2vh;
	left: 2vh;
	width: 50px;
	height: 50px;
	background-image: url('../img/question-mark.png');
	background-size: cover;
	/*background-color: blue;*/
	position: fixed;
	z-index: 10;
}

#about {
	top: 250px;
	width: 50vw;
	height: 50vh;
	min-width: 300px;
	min-height: 300px;
	overflow-y: scroll;
	background-color:  #e6e6e6;
	margin: 0 auto;
	z-index: 10;
	position: relative;
	font-size: 20px;
	font-family: courier;
}

.abouttext {
	padding: 30px;
	margin-bottom: 30px;
}

.infopanel {
	height: auto;
	top: 20px;
	right: 20px;
	width: 350px;
	position: fixed;
	background-color:  #e6e6e6;
	z-index: 10;
	font-size: 20px;
	font-family: courier;	
}

.speechpanel {
	height: 200px;
	right: 390px;
	width: 250px;
	position: fixed;
	background-color: #e6e6e6;
	z-index: 10;
	font-size: 20px;
	padding: 20px;
	font-family: courier;	
	overflow-y: scroll;
}


.messagebox {
	position: relative;
	width: 70%;
	padding: 10px;
	border: 3px solid white;
	margin-top: 10px;
	margin-left: 4%;
	margin-bottom: 4%;
}

.infotitle {
	padding: 20px;
}

.infobox {
	position: relative;
	width: 90%;
	border: 3px solid white;
	margin-top: 10px;
	margin-left: 4%;
	margin-bottom: 4%;
}

.symbolinfo {
	padding: 20px;
}

.speechbox {
	background-color: white;
	max-width: 150px;
	z-index: 5;
	position: absolute;
	font-family: courier;
}

.artext {
	margin-top:0px;
	margin-bottom: 0px;
	float: right;
}

/*rocks*/
.zone1 {
	background-color: #999999;
}

/*soil*/
.zone2 {
	background-color:  #737373;
}

/*trees*/
.zone3 {
	background-color: #535353;
}

/*compost*/
.zone4 {
	background-color:  #4d1933;
}

/*path*/
.zone5 {
	background-color:  #d9d9bf;
}

/*water*/
.zone6 {
	background-color: #617dd1;
}